# Project-specific files
# they are automatically copied to the resources source set during building
icon.png
quilt.mod.json

# Cargo
target/

# Gradle
.gradle/
build/
bin/

# IntelliJ Idea
.idea/

# Eclipse IDE
.classpath
.project
.factorypath

# macOS
*.DS_Store
/.apt_generated/

# Quilt Loom
run/

# Visual Studio Code
.settings/
.vscode/
